.body_wrapper {
  background: #d3c20a;
  min-height: 100dvh;
  display: flex;
  gap: 0.5rem;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  font: 1em sans-serif;
  flex-grow: 1;
}

.body_wrapper img {
  min-width: 75px;
  max-width: 250px;
}